Step 1 : Understand data read CSV data
        Load libaray

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [2]:
!pip install seaborn

Requirement already satisfied: seaborn in d:\genai\heroku-books-recommender\venv\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in d:\genai\heroku-books-recommender\venv\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in d:\genai\heroku-books-recommender\venv\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in d:\genai\heroku-books-recommender\venv\lib\site-packages (from seaborn) (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in d:\genai\heroku-books-recommender\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in d:\genai\heroku-books-recommender\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\genai\heroku-books-recommender\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\genai\heroku-books-recommender\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in d:\genai\heroku-books-recommender\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pillow>=8 in d:\genai\heroku-books-recommender\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\genai\heroku-books-recommender\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in d:\genai\heroku-books-recommender\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\genai\heroku-books-recommender\venv\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\genai\heroku-books-recommender\venv\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in d:\genai\heroku-books-recommender\venv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [3]:
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [4]:
book_data=pd.read_csv("data/BX-Books.csv",sep=";",on_bad_lines='skip' , encoding='latin-1')

C:\Users\rakes\AppData\Local\Temp\ipykernel_22648\2761506383.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book_data=pd.read_csv("data/BX-Books.csv",sep=";",on_bad_lines='skip' , encoding='latin-1')

In [5]:
book_data.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
user_data=pd.read_csv("data/BX-Users.csv",sep=";",on_bad_lines='skip' , encoding='latin-1')

In [7]:
user_data.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [8]:
rating_data=pd.read_csv("data/BX-Book-Ratings.csv",sep=";",on_bad_lines='skip' , encoding='latin-1')

In [9]:
rating_data

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [10]:
rating_data['User-ID'].unique().shape

(105283,)

In [11]:
x=rating_data['User-ID'].value_counts()>50

In [12]:
x[x].shape

(3371,)

In [13]:
y=x[x].index

In [14]:
rating_data = rating_data[rating_data['User-ID'].isin(y)]

In [15]:
rating_data

         User-ID        ISBN  Book-Rating
173       276847  0446364193            0
174       276847  3257200552            5
175       276847  3379015180            0
176       276847  3404145909            8
177       276847  3404148576            8
...          ...         ...          ...
1149744   276688  0836236688           10
1149745   276688  0892966548           10
1149746   276688  1551669315            6
1149747   276688  1575660792            7
1149748   276688  1580600506            0

[765672 rows x 3 columns]

In [16]:
pip install jupyter_contrib_nbextensions

Note: you may need to restart the kernel to use updated packages.

C:\Users\rakes\AppData\Local\Programs\Python\Python311\python.exe: No module named pip

In [17]:
rating_book=rating_data.merge(book_data,on='ISBN')

In [18]:
rating_book= rating_book[['User-ID','Book-Rating','ISBN','Book-Title','Image-URL-L']]

In [19]:
rating_book

,User-ID,Book-Rating,ISBN,Book-Title,Image-URL-L
0,276847,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...
1,278418,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...
2,5483,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...
3,7346,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...
4,8362,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...
...,...,...,...,...,...
700843,276688,0,0449907422,Jazz Funeral: A Skip Langdon Novel,http://images.amazon.com/images/P/0449907422.0...
700844,276688,0,0517145553,Mostly Harmless,http://images.amazon.com/images/P/0517145553.0...
700845,276688,0,0684838672,The LANGUAGE OF NAMES : WHAT WE CALL OURSELVES...,http://images.amazon.com/images/P/0684838672.0...
700846,276688,0,0788192043,The Hundred Secret Senses,http://images.amazon.com/images/P/0788192043.0...
700847,276688,7,1575660792,Gray Matter,http://images.amazon.com/images/P/1575660792.0...

In [20]:
rating_book.rename(columns={"Book-Title":'title',
                      'User-ID':'user_id',
                     "Book-Rating":'rating',
                     "Image-URL-L":"image_url"},inplace=True)

In [21]:
rating_book

,user_id,rating,ISBN,title,image_url
0,276847,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...
1,278418,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...
2,5483,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...
3,7346,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...
4,8362,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...
...,...,...,...,...,...
700843,276688,0,0449907422,Jazz Funeral: A Skip Langdon Novel,http://images.amazon.com/images/P/0449907422.0...
700844,276688,0,0517145553,Mostly Harmless,http://images.amazon.com/images/P/0517145553.0...
700845,276688,0,0684838672,The LANGUAGE OF NAMES : WHAT WE CALL OURSELVES...,http://images.amazon.com/images/P/0684838672.0...
700846,276688,0,0788192043,The Hundred Secret Senses,http://images.amazon.com/images/P/0788192043.0...
700847,276688,7,1575660792,Gray Matter,http://images.amazon.com/images/P/1575660792.0...

In [22]:
number_rating = rating_book.groupby('title')['rating'].count().reset_index()

In [23]:
number_rating

                                                    title  rating
0        A Light in the Storm: The Civil War Diary of ...       4
1                                   Always Have Popsicles       1
2                    Apple Magic (The Collector's series)       1
3        Ask Lily (Young Women of Faith: Lily Series, ...       1
4        Beyond IBM: Leadership Marketing and Finance ...       1
...                                                   ...     ...
198798                   Ã?Â?berraschung am Valentinstag.       1
198799                                      Ã?Â?lpiraten.       1
198800                     Ã?Â?rger mit Produkt X. Roman.       3
198801                              Ã?Â?stlich der Berge.       1
198802                                  Ã?Â?thique en toc       2

[198803 rows x 2 columns]

In [24]:
number_rating.rename(columns={'rating':'num_of_rating'},inplace=True)

In [25]:
number_rating

                                                    title  num_of_rating
0        A Light in the Storm: The Civil War Diary of ...              4
1                                   Always Have Popsicles              1
2                    Apple Magic (The Collector's series)              1
3        Ask Lily (Young Women of Faith: Lily Series, ...              1
4        Beyond IBM: Leadership Marketing and Finance ...              1
...                                                   ...            ...
198798                   Ã?Â?berraschung am Valentinstag.              1
198799                                      Ã?Â?lpiraten.              1
198800                     Ã?Â?rger mit Produkt X. Roman.              3
198801                              Ã?Â?stlich der Berge.              1
198802                                  Ã?Â?thique en toc              2

[198803 rows x 2 columns]

In [26]:
final_rating = rating_book.merge(number_rating, on='title')

In [27]:
final_rating

,user_id,rating,ISBN,title,image_url,num_of_rating
0,276847,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...,195
1,278418,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...,195
2,5483,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...,195
3,7346,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...,195
4,8362,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...,195
...,...,...,...,...,...,...
700843,276680,0,1582343594,City of Masks : A Cree Black Novel,http://images.amazon.com/images/P/1582343594.0...,1
700844,276688,0,0380790572,Jupiter Project,http://images.amazon.com/images/P/0380790572.0...,1
700845,276688,0,0425150526,Death Crosses the Border,http://images.amazon.com/images/P/0425150526.0...,1
700846,276688,0,0449907422,Jazz Funeral: A Skip Langdon Novel,http://images.amazon.com/images/P/0449907422.0...,1
700847,276688,0,0684838672,The LANGUAGE OF NAMES : WHAT WE CALL OURSELVES...,http://images.amazon.com/images/P/0684838672.0...,1

In [28]:
final_rating = final_rating[final_rating['num_of_rating'] >= 50]

In [29]:
final_rating

,user_id,rating,ISBN,title,image_url,num_of_rating
0,276847,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...,195
1,278418,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...,195
2,5483,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...,195
3,7346,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...,195
4,8362,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...,195
...,...,...,...,...,...,...
412076,199041,0,067081458X,The Eyes of the Dragon,http://images.amazon.com/images/P/067081458X.0...,74
412077,211426,0,067081458X,The Eyes of the Dragon,http://images.amazon.com/images/P/067081458X.0...,74
412078,236283,10,067081458X,The Eyes of the Dragon,http://images.amazon.com/images/P/067081458X.0...,74
412079,245371,0,067081458X,The Eyes of the Dragon,http://images.amazon.com/images/P/067081458X.0...,74
412080,252820,5,067081458X,The Eyes of the Dragon,http://images.amazon.com/images/P/067081458X.0...,74

In [30]:
# lets drop the duplicates
final_rating.drop_duplicates(['user_id','title'],inplace=True)

C:\Users\rakes\AppData\Local\Temp\ipykernel_22648\19106749.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_rating.drop_duplicates(['user_id','title'],inplace=True)

In [31]:
final_rating

,user_id,rating,ISBN,title,image_url,num_of_rating
0,276847,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...,195
1,278418,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...,195
2,5483,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...,195
3,7346,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...,195
4,8362,0,0446364193,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...,195
...,...,...,...,...,...,...
412076,199041,0,067081458X,The Eyes of the Dragon,http://images.amazon.com/images/P/067081458X.0...,74
412077,211426,0,067081458X,The Eyes of the Dragon,http://images.amazon.com/images/P/067081458X.0...,74
412078,236283,10,067081458X,The Eyes of the Dragon,http://images.amazon.com/images/P/067081458X.0...,74
412079,245371,0,067081458X,The Eyes of the Dragon,http://images.amazon.com/images/P/067081458X.0...,74
412080,252820,5,067081458X,The Eyes of the Dragon,http://images.amazon.com/images/P/067081458X.0...,74

In [32]:
book_pivot=final_rating.pivot_table(columns='user_id',index='title',values='rating')

In [33]:
book_pivot.fillna(0, inplace=True)

In [34]:
book_pivot

user_id,183,243,254,507,626,638,643,741,882,929,...,277928,277965,278026,278137,278144,278188,278418,278582,278633,278843
title,,,,,,,,,,,,,,,,,,,,,
1984,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
204 Rosewood Lane,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24 Hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
from scipy.sparse import csr_matrix

ModuleNotFoundError: No module named 'scipy'